sample/ESBTUTORIALPROJECT/services/GreetingService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GreetingService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="greetRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="greetResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="greetRequest">
		<wsdl:part name="parameters" element="tns:greetRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="greetResponse">
		<wsdl:part name="parameters" element="tns:greetResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="GreetingServicePortType">
		<wsdl:operation name="greet">
			<wsdl:input message="tns:greetRequest"></wsdl:input>
			<wsdl:output message="tns:greetResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GreetingServiceBinding" type="tns:GreetingServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="greet">
			<soap:operation soapAction="http://www.talend.org/service/greet" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GreetingService">
		<wsdl:port name="GreetingServicePort" binding="tns:GreetingServiceBinding">
			<soap:address location="http://localhost:8090/services/GreetingService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>